---
title: Failed Banks in Europe 1960-2014
---
.content
  .text
    .explanation
      %p In the fall of 2012, the Open Economics Working Group organised a series of online events in order to create a list of the banks which failed in Europe during the latest financial crisis. The lack of a complete list of banks which were nationalised or ceased to exist motivated a group of people to join forces in compiling a dataset with some of the key parameters.
  #top-10
    #top-10-chart
  #map
    #legend
      %b Failed Banks
  #tooltip
